/*Color theme: Soft lavender
LInk: https://coolors.co/palettes/trending
Colors: 6b9080, a4c3b2, cce3de, eaf4f4, f6fff8*/


* {       /* Gjør det mulig å bryte opp skjermen i grid*/
  box-sizing: border-box;
}


a {
  color: #f6fff8;
}

p {
  line-height: 1.8;
}

body {
  background-color: #f6fff8;
}

.row::after { /*   */
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}


html {
  font-family: Verdana, Arial, sans-serif;
  color: #333d29;
}

.header {
  background-color: #6b9080;
  padding: 1px;
  margin-top: 1px;
  max-width: 100%;
}

.header h1{
    font-size: 20 px;
    color: #f2e9e4;
    margin-bottom: 20px;
    padding-left: 30px;
    text-shadow: 1px 1px 1px #e9e9ef; /* Lager teksteffekt på bokstavene*/
  }

/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6b9080;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f2e9e4;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #4a4e69;
  color: #f2e9e4;
}


.main-content {
    flex: 1; /* Tar opp all ledig plass mellom header og footer */
    padding: 20px;
}


.aside {
  background-color: #a6b1e1;
  padding: 15px;
  color: #f4eeff;
  border-radius: 15px 60px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.buttongeolocation button{
  background-color:#9a8c98;
  color:#f2e9e4 ;
  padding: 12px;
  border-radius:12px;

}
.buttongeolocation button:hover{
  background-color:#4a4e69;
  color: #f2e9e4;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.buttongeolocatin button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer {
  display: block;
  background-color: #6b9080;
  color: #f6fff8;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-radius: 10px 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
